@font-face {
  font-family: "iconfont"; /* Project id 3150577 */
  src: url('iconfont.woff2?t=1652163071598') format('woff2'),
       url('iconfont.woff?t=1652163071598') format('woff'),
       url('iconfont.ttf?t=1652163071598') format('truetype'),
       url('iconfont.svg?t=1652163071598#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chakangengduo:before {
  content: "\e665";
}

.icon-a-zu8854:before {
  content: "\e706";
}

.icon-a-zu8852:before {
  content: "\e707";
}

.icon-a-zu8853:before {
  content: "\e708";
}

.icon-a-zu8851:before {
  content: "\e709";
}

.icon-shujuji:before {
  content: "\e70a";
}

.icon-shipinbofang:before {
  content: "\e70b";
}

.icon-windows:before {
  content: "\e661";
}

.icon-cpu:before {
  content: "\e662";
}

.icon-docker:before {
  content: "\e663";
}

.icon-linux:before {
  content: "\e664";
}

.icon-jushou:before {
  content: "\e65f";
}

.icon-shiyan1:before {
  content: "\e65e";
}

.icon-sucai:before {
  content: "\e833";
}

.icon-kecheng2:before {
  content: "\e607";
}

.icon-banji:before {
  content: "\e608";
}

.icon-jiaoshi:before {
  content: "\e722";
}

.icon-w_xuesheng-:before {
  content: "\e67c";
}

.icon-yonghuming1:before {
  content: "\e617";
}

.icon-mima1:before {
  content: "\e619";
}

.icon-shangchuanbeifen:before {
  content: "\e629";
}

.icon-yunhang:before {
  content: "\e616";
}

.icon-baocun1:before {
  content: "\e606";
}

.icon-zhongzhi1:before {
  content: "\e60b";
}

.icon-icon_shiyongwendang:before {
  content: "\eb91";
}

.icon-ziliao:before {
  content: "\e689";
}

.icon-shujuzhidao:before {
  content: "\e65d";
}

.icon-biaoji:before {
  content: "\e69a";
}

.icon-jiaoxuekejian:before {
  content: "\e696";
}

.icon-jinggao:before {
  content: "\e604";
}

.icon-fasong:before {
  content: "\e614";
}

.icon--tainjia:before {
  content: "\e605";
}

.icon-shijian:before {
  content: "\e687";
}

.icon-youjiantou:before {
  content: "\e60e";
}

.icon-zuojiantou:before {
  content: "\e60f";
}

.icon-tuichu-copy:before {
  content: "\e892";
}

.icon-zhuyi:before {
  content: "\e60a";
}

.icon-timu:before {
  content: "\e690";
}

.icon-shezhi:before {
  content: "\e675";
}

.icon-kaoshi:before {
  content: "\e630";
}

.icon-jianqiewenjian:before {
  content: "\e600";
}

.icon-icon_function_zhankai:before {
  content: "\e891";
}

.icon-shipin:before {
  content: "\e61a";
}

.icon-bianji:before {
  content: "\e611";
}

.icon-jitibeike:before {
  content: "\e615";
}

.icon-chuangjian:before {
  content: "\e887";
}

.icon-icon_icon_xiti_s:before {
  content: "\e624";
}

.icon-wenzhangzhangjie:before {
  content: "\e627";
}

.icon-shicao:before {
  content: "\e6ef";
}

.icon-yidong:before {
  content: "\e695";
}

.icon-upload:before {
  content: "\e65c";
}

.icon-xiaoxi:before {
  content: "\e62f";
}

.icon-xuniji:before {
  content: "\e69e";
}

.icon-zhangjie:before {
  content: "\e65b";
}

.icon-kecheng1:before {
  content: "\e65a";
}

.icon-yichu1:before {
  content: "\e6a2";
}

.icon-xuanze_check:before {
  content: "\e6b0";
}

.icon-zhankai1:before {
  content: "\e6cb";
}

.icon-fanhui1:before {
  content: "\e72e";
}

.icon-fanhui:before {
  content: "\e6c9";
}

.icon-bianji1:before {
  content: "\e603";
}

.icon-curriculum:before {
  content: "\e612";
}

.icon-tianjia:before {
  content: "\e609";
}

.icon-shouqi:before {
  content: "\e658";
}

.icon-zhankai:before {
  content: "\e659";
}

.icon-riqi:before {
  content: "\e61f";
}

.icon-close:before {
  content: "\e618";
}

.icon-kecheng:before {
  content: "\e657";
}

.icon-shuju:before {
  content: "\e652";
}

.icon-ceping:before {
  content: "\e64f";
}

.icon-bangzhu:before {
  content: "\e650";
}

.icon-shiyan:before {
  content: "\e651";
}

.icon-shouye:before {
  content: "\e653";
}

.icon-sucaiziyuan:before {
  content: "\e654";
}

.icon-zuoyekaoshi:before {
  content: "\e655";
}

.icon-jiaoliu:before {
  content: "\e656";
}

.icon-zhongzhi:before {
  content: "\e628";
}

.icon-biji:before {
  content: "\e64b";
}

.icon-zhidao:before {
  content: "\e64c";
}

.icon-wenda:before {
  content: "\e64d";
}

.icon-baogao:before {
  content: "\e64e";
}

.icon-gongxiangzhuomian:before {
  content: "\e641";
}

.icon-gongjuxiang:before {
  content: "\e642";
}

.icon-fuzhiniantie:before {
  content: "\e643";
}

.icon-baocun:before {
  content: "\e644";
}

.icon-xiazai:before {
  content: "\e645";
}

.icon-guanbi1:before {
  content: "\e646";
}

.icon-yuanchengxiezhu:before {
  content: "\e647";
}

.icon-kaishijieshuluzhi:before {
  content: "\e648";
}

.icon-quanping:before {
  content: "\e649";
}

.icon-shangchuan:before {
  content: "\e64a";
}

.icon-yingpan:before {
  content: "\e63d";
}

.icon-xianka:before {
  content: "\e63e";
}

.icon-yonghuming:before {
  content: "\e640";
}

.icon-mima:before {
  content: "\e63a";
}

.icon-neicun:before {
  content: "\e63b";
}

.icon-duankou:before {
  content: "\e63c";
}

.icon-IP:before {
  content: "\e639";
}

.icon-CPU:before {
  content: "\e638";
}

.icon-fujian:before {
  content: "\e660";
}

.icon-shanchu:before {
  content: "\e63f";
}

.icon-guanbi:before {
  content: "\e602";
}

