@font-face {
  font-family: "iconfont"; /* Project id 3150577 */
  src: url("iconfont.woff2?t=1646122190908") format("woff2"),
    url("iconfont.woff?t=1646122190908") format("woff"),
    url("iconfont.ttf?t=1646122190908") format("truetype"),
    url("iconfont.svg?t=1646122190908#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yidong:before {
  content: "\e695";
}

.icon-upload:before {
  content: "\e65c";
}

.icon-xiaoxi:before {
  content: "\e62f";
}

.icon-xuniji:before {
  content: "\e69e";
}

.icon-zhangjie:before {
  content: "\e65b";
}

.icon-kecheng1:before {
  content: "\e65a";
}

.icon-yichu1:before {
  content: "\e6a2";
}

.icon-xuanze_check:before {
  content: "\e6b0";
}

.icon-zhankai1:before {
  content: "\e6cb";
}

.icon-fanhui1:before {
  content: "\e72e";
}

.icon-fanhui:before {
  content: "\e6c9";
}

.icon-bianji1:before {
  content: "\e603";
}

.icon-curriculum:before {
  content: "\e612";
}

.icon-tianjia:before {
  content: "\e609";
}

.icon-shouqi:before {
  content: "\e658";
}

.icon-zhankai:before {
  content: "\e659";
}

.icon-riqi:before {
  content: "\e61f";
}

.icon-close:before {
  content: "\e618";
}

.icon-kecheng:before {
  content: "\e657";
}

.icon-shuju:before {
  content: "\e652";
}

.icon-ceping:before {
  content: "\e64f";
}

.icon-bangzhu:before {
  content: "\e650";
}

.icon-shiyan:before {
  content: "\e651";
}

.icon-shouye:before {
  content: "\e653";
}

.icon-sucaiziyuan:before {
  content: "\e654";
}

.icon-zuoyekaoshi:before {
  content: "\e655";
}

.icon-jiaoliu:before {
  content: "\e656";
}

.icon-zhongzhi:before {
  content: "\e628";
}

.icon-biji:before {
  content: "\e64b";
}

.icon-zhidao:before {
  content: "\e64c";
}

.icon-wenda:before {
  content: "\e64d";
}

.icon-baogao:before {
  content: "\e64e";
}

.icon-gongxiangzhuomian:before {
  content: "\e641";
}

.icon-gongjuxiang:before {
  content: "\e642";
}

.icon-fuzhiniantie:before {
  content: "\e643";
}

.icon-baocun:before {
  content: "\e644";
}

.icon-xiazai:before {
  content: "\e645";
}

.icon-guanbi1:before {
  content: "\e646";
}

.icon-yuanchengxiezhu:before {
  content: "\e647";
}

.icon-kaishijieshuluzhi:before {
  content: "\e648";
}

.icon-quanping:before {
  content: "\e649";
}

.icon-shangchuan:before {
  content: "\e64a";
}

.icon-yingpan:before {
  content: "\e63d";
}

.icon-xianka:before {
  content: "\e63e";
}

.icon-yonghuming:before {
  content: "\e640";
}

.icon-mima:before {
  content: "\e63a";
}

.icon-neicun:before {
  content: "\e63b";
}

.icon-duankou:before {
  content: "\e63c";
}

.icon-IP:before {
  content: "\e639";
}

.icon-CPU:before {
  content: "\e638";
}

.icon-fujian:before {
  content: "\e660";
}

.icon-shanchu:before {
  content: "\e63f";
}

.icon-guanbi:before {
  content: "\e602";
}
